body {
    font-family: cursive;
    padding: 2rem;
    background-color: #f4f4f4;
    text-align: center;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

#container {
    margin-top: 20px;
}